[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.10"
django-rest-framework = "*"
django-rest-swagger = "*"
pyyaml = "*"

[dev-packages]
django-rest-swagger = "*"

[requires]
python_version = "3.6"
